name: Python Package Using Anaconda

on: [push]

jobs:
  build:
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    runs-on: ${{ matrix .os }}
    strategy:
      matrix:
        #os: [ubuntu-latest, windows-latest, macOS-latest]
        #python-version: [3.6, 3.7, 3.8]
        #os: [ubuntu-latest]
        #os: [macOS-latest]
        os: [windows-latest]
        python-version: [3.6]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: Set up Conda
      uses: s-weigand/setup-conda@v1
      with:
        update-conda: true
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        conda install conda-build anaconda-client -y
    - name: Bulid and upload
      env:
        ANACONDA_API_TOKEN: ${{secrets.ANACONDA_TOKEN}}
      run: |
        conda config --set anaconda_upload yes
        conda build recipe